<div>
    <div class="above-table">
        <h1>Today's Cryptocurrency Prices by Market Cap</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th  [ngClass]="IdClass">ID</th>
                <th [ngClass]="NameClass">Name</th>
                <th  [ngClass]="PriceClass">Price</th>
                <th [ngClass]="Class24h">24h %</th>
                <th [ngClass]="Class7d">7d %</th>
                <th  [ngClass]="MarketCapClass">Market Cap</th>
                <th  [ngClass]="VolumeClass">Volume (24h)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currency of currencies">
                <td>{{currency.id}}</td>
                <!-- Переход на страницу деталей -->
                <td><a [routerLink]="['/user/currencies', currency.id]">{{currency.name}} <span id="symbol-text">{{currency.symbol}}</span></a></td>
                <td>${{currency.quote.USD.price.toFixed(2)}}</td>
                <td [ngClass]="{'up-change' : currency.quote.USD.percent_change_24h >= 0,
                'down-change': currency.quote.USD.percent_change_24h < 0}">{{currency.quote.USD.percent_change_24h.toFixed(2)}}</td>
                <td [ngClass]="{'up-change' : currency.quote.USD.percent_change_7d >= 0,
                    'down-change': currency.quote.USD.percent_change_7d < 0}">{{currency.quote.USD.percent_change_7d.toFixed(2)}}</td>
                <td>${{currency.quote.USD.market_cap.toLocaleString('en-US')}}</td>
                <td>${{currency.quote.USD.volume_24h.toLocaleString('en-US')}}</td>
            </tr>
        </tbody>
    </table>
</div>

