<header>
    <a routerLink="/"><img src="/assets/images/logo.png">CryptoTracker</a>
    <div class="btn-group">
        <button id="sign-in" routerLink="login">Sign in</button>
        <button id="get-started" routerLink="register">Get Started</button>
    </div>
</header>
<section class="main">
    <div class="main-text">
        <h1>Track your crypto portfolio & taxes</h1>
        <p>Accurately tracking cryptocurrency investment performance and taxes is hard.
            We make it easy and help you save money.</p>
        <button id="get-started-main" routerLink="register">Get Started Today</button>
    </div>
    <div class="main-img">
        <img id="pc-img" src="/assets/images/laptop-background.png">
        <img id="pc-screen1" src="/assets/images/pc2.png">
        <img id ="phone-img" src="/assets/images/iphone-background.png">
        <img id="phone-screen1" src="/assets/images/phone1.png">
    </div>
</section>
