<div class="split left_div">
  <div class="centered" >
    <div id="brand" [routerLink]="['']">
      <h1 class="front">CryptoTracker</h1>
      <h3 class="back">Your Crypto Manager</h3>
    </div>
  </div>
</div>

<div class="split right_div">
  <div class="centered form_div">
    <h2>Register</h2>
    <form autocomplete="on">
      <input [(ngModel)]="login" id="GET-login" type="text" name="login" placeholder="Type your login" minlength="5" pattern="[A-Za-zА-Яа-яЁё0-9]+" required> <br>
      <input [(ngModel)]="name" id="GET-name" type="text" name="firstname" placeholder="Type your name" pattern="[A-Za-zА-Яа-яЁё]+" required > <br>
      <input [(ngModel)]="surname" id="GET-surname" type="text" name="lastname" placeholder="Type your last name" pattern="[A-Za-zА-Яа-яЁё]+" required > <br>
      <input [(ngModel)]="email" id="GET-email" type="email" name="email" placeholder="Type your email" required> <br>
      <input [(ngModel)]="password" id="GET-password" type="password" name="password" placeholder="Type your password" minlength="8" required > <br>
      <input type="submit" value="Register" (click)="Register()">
    </form>
    <p>Have an account? <a [routerLink]="['/login']">Log In</a> </p>
  </div>
</div>
